body{
    font-family: 'Slabo', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pattern.jpg');
}
header {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}
header #logo {
    align-self: center;
}
header nav {
    display: flex;
}
header nav ul{
    align-self: center;
    list-style: none;
}
header nav ul li {
    display: inline;
    padding: 5px 10px;
}

section {
    max-width: 1000px;
    margin: 100px auto 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

section h1 {
    text-align: center;
}

section #article-list div {
    margin-top: 30px;
    border-bottom: 1px solid #000000;
}
p {
    text-align: justify;
}

footer {
    margin-top: 20px;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
}
